{% extends 'hms/base.html' %}

{% block content %}
<h2 style="font-size: 24px; font-weight: bold; margin-bottom: 15px;">Patient Information</h2>
{% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
<a href="{% url 'patients' %}" 
   style="background-color: #1D4ED8; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none; display: inline-block; margin-bottom: 20px;">
    Back to Patients List
</a>

<div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
    <h3 style="text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 20px;">{{ patient.user.full_name }}</h3>
    
    <table style="width: 100%; border-collapse: collapse;">
        <tr><td style="padding: 10px; font-weight: bold;">Patient Code:</td><td style="padding: 10px;">{{ patient.patient_code }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Date of Birth:</td><td style="padding: 10px;">{{ patient.date_of_birth }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Phone Number:</td><td style="padding: 10px;">{{ patient.contact_number }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Address:</td><td style="padding: 10px;">{{ patient.address }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Aadhar Number:</td><td style="padding: 10px;">{{ patient.aadhar_number }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Blood Group:</td><td style="padding: 10px;">{{ patient.blood_group }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Email:</td><td style="padding: 10px;">{{ patient.email }}</td></tr>
        
        <tr><td colspan="2" style="padding: 10px; text-align: center; font-weight: bold; background-color: #e0e0e0;">Guarantor Details</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Name:</td><td style="padding: 10px;">{{ patient.guarantor_name }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Address:</td><td style="padding: 10px;">{{ patient.guarantor_address }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Mobile Number:</td><td style="padding: 10px;">{{ patient.guarantor_mobile }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Relationship:</td><td style="padding: 10px;">{{ patient.guarantor_relationship }}</td></tr>
        <tr><td style="padding: 10px; font-weight: bold;">Gender:</td><td style="padding: 10px;">{{ patient.guarantor_gender }}</td></tr>
    </table>
</div>
{% endblock %}
